<html> 
<body> 
<%= form_for Produto.new do |f| %>  

Nome <input type="text" name="nome" class="form-control" /> 
Descrição <textarea name ="descricao" class="form-control"></textarea><br/>    

Quantidade
<%= f.number_field :quantidade, class: "form-control" %><br/>

Preço <input type="number" name="preco" step="0.01" class="form-control" />     
<button type="submit">Criar</button>     
 <% end %> 
</body> 
</html>